*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    border: solid #4c4cff 1px;
    width: 1200px;
    height: 600px;
    margin: auto;
}
.container2{
    border: solid #4c4cff 1px;
    width: 600px;
    min-height: 300px;
    margin: auto;   
}
.input-div{
    margin-top: 30px;
    text-align: center;
}
.input-div input{
    height: 25px;
}
.button-div > div{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
button{
    min-width: 100px;
    padding: 10px;
    min-height: 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
.output-div{
    text-align: center;
}
.moving-el{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #00ffff;
}
