*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    border: solid #4c4cff 1px;
    width: 1200px;
    height: 600px;
    margin: auto;
}

.moving-el{
    position: absolute;
    border: transparent;
    width: 100px;
    height: 100px;
    background-color: transparent
}
