*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    border: solid black 2px;
    width: 500px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container div{
    width: 100px;
    height: 100px;
    flex-basis: 20%;
    background-color: red;
    border: solid white 1px;
}
