*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 400px;
    min-height: 300px;
    background-color: #f0f8ff;
    border: solid 2px #81c081;
}
.container > div{
    margin-bottom: 7px;
}
.output-div{
    min-height: 200px;
    background-color: white;
}
