*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position:absolute;
    border: solid #4c4cff 1px;
    width: 1200px;
    height: 600px;
    left: 50%;
    transform: translate(-50%);
}

.moving-el{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}
